@model IEnumerable<Empresa.Models.AssignRoles>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Roles</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>              
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>            
            <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            
            <td>
                <a asp-action="AssignRoles" asp-route-id="@item.Username">Assign Role</a> |
                <a asp-action="EditRole" asp-route-id="@item.Username">EditRole</a> |                   
                <a asp-action="Delete" asp-route-id="@item.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
