@model IEnumerable<Empresa.Models.Produto>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Produto</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("SupAdmin"))
                {
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Empresa)
            </td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("SupAdmin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProdutoId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProdutoId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProdutoId">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
